<div class="w-full text-center space-y-2 mb-5">
  <h2 class="text-2xl font-semibold">Forgot password ?</h2>
  <p class="">if you have an account, <%= link_to "sign in", sign_in_path, class: "text-blue-600" %></p>
</div>
<p style="color: red"><%= alert %></p>

<%= form_with(url: identity_password_reset_path, class: "space-y-4") do |form| %>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email, required: true, autofocus: true, class: "bg-white/10 rounded-xl outline-none w-full" %>
  </div>

  <p class="text-center">ready</p>

  <div>
    <%= form.submit "Send password reset email", class: "base_bg w-full py-2 rounded-xl font-semibold" %>
  </div>
<% end %>
