<!DOCTYPE html>
<html>

<head>
  <title inertia>
    <%= content_for(:title) || "Records" %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <%= yield :head %>
        <link rel="icon" href="/icon.png" type="image/png">
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/icon.png">

        <%= stylesheet_link_tag :app, data: { turbo_track: "reload" } %>
          <%= javascript_importmap_tags %>
            <%= vite_stylesheet_tag "application" %>
              <%= vite_react_refresh_tag %>
                <%= vite_client_tag %>
                  <%= vite_typescript_tag "inertia" %>
                    <%= inertia_ssr_head %>
                      <%= vite_javascript_tag 'application' %>
</head>

<body class="body_style">
  <main class="flex flex-col items-center justify-center h-screen gap-10">
    <h1 class="text-2xl font-semibold">Company Logo</h1>
    <div class="w-[910px] flex gap-5">
      <div class="flex-1">
        <%= yield %>
      </div>
      <div class="bg-white/15 h-full flex-1 rounded-xl">
      </div>
    </div>
  </main>
</body>

</html>